* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: lightgray;
}

.container {
  height: 100vh;
  margin: 0 auto;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h1 {
  margin-bottom: 1rem;
}

.container p {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.container button {
  padding: 0.7rem 1.5rem;
  outline: none;
  border: 0;
  background-color: #555;
  color: white;
  border: 1px solid black;
  transition: 0.3s all ease-in-out;
}

.container button:hover {
  background-color: #fff;
  color: #111;
}
